.benefits {
  padding: 120px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-row {
  display: flex;
  flex-direction: row;
  column-gap: 70px;
}

.benefits-item {
  text-align: center;

  &__text {
    padding-top: 53px;
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.35;
  }
}