.header {
  min-height: 840px;
  padding-top: 30px;
  padding-bottom: 74px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(
      180deg, 
    #242B33 11.98%,
    rgba(45, 52, 60, 0.38) 51.04%,
    #242B33 92.19%
    ), 
    url('../images/header/header-bg.jpg'), 
    lightgray 50% / cover no-repeat;
}

.nav {
  font-size: 14px;
  font-weight: 400; 
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu li{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    text-align: center;
  }
}

.header-text {
  position: relative;
  font-size: 48px;
  font-weight: 700;
  color: $accent;
  text-align: center;
  font-family: $font-accent;
  display: flex;
  flex-direction: column;
  padding-bottom: 121px;
  align-items: center;

  &__icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-20px, 0%);
  }
}

.header-info {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;

  &__address, &__phone {
    position: relative;
    padding-left: 35px;
  }

  &__address::before, &__phone::before  {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    left: 0;
    top: 0;
  }

  &__address::before {
    background: no-repeat url('../images/header/map-icon.svg');
  }

  &__phone::before {
    background: no-repeat url('../images/header/phone-icon.svg');
  }
}


